.swipe {
    position: absolute;
}

.card {
    position: relative;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 1rem 3rem 0 rgb(53, 53, 53);
    width: 600px;
    padding: 1rem;
    max-width: 85vw;
    height: 50vh;
    border-radius: 2rem;
}

.card-cont {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    color: #fff;
}